/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
img{
    max-width: 100%;
    height: auto;
}
@media (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    #top-left-social {
        display: none;
    }

    #top-bar {
        background: #FFFFFF;
        height: auto;
    }

    #top-bar #top-right-menu {
        float: none;
    }

    #top-bar #top-right-menu ul {
        margin: 0;
        padding: 0;
    }

    #top-bar #top-right-menu ul li {

        float: none;
        display: block;
        margin-left: 10px;
        background: #FFFFFF;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-top: 10px;
        border-bottom: 1px solid #DDD;
        padding-bottom: 3px;

    }

    #top-bar #top-right-menu ul li a {
        float: none;
    }

    #top-bar #top-right-menu ul li:before {
        margin-right: 10px;
        width: 10px;
        position: absolute;
        right: 33%;
    }

    #top-header {
    }

    #top-header #logo img {
        display: none;
    }

    #top-header #logo a h1 {
        font-size: 18px;
    }

    #top-header #contact-bar {
        float: none;
        text-align: center;
    }

    #main-menu-wrapper {
        height: auto;
    }

    #main-menu-wrapper #main-menu {
        float: none;
    }

    #main-menu-wrapper #main-menu ul {
        margin: 0;
        padding: 0;
    }

    #main-menu-wrapper #main-menu ul li {
        float: none;
        display: block;
        text-align: center;
    }

    #main-menu-wrapper #main-menu ul li a {
    }

    #main-menu-wrapper #main-menu ul.menu > li > a:after {
        content: '';
        position:relative;
        width: 0;
        height: 0;
        border: none;

        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    #main-menu-wrapper #main-menu ul li ul{
        display: none;
        padding: 0;
        margin: 0;
        width: 100%;
     }

    #top-search{
        float: none;
    }

    .nav-tab ul{
        padding: 0;
    }
    .nav-tab ul li{
        display: block;
    }
    .nav-tab ul li a{
        display: block;
        margin: 10px 0;
        padding: 5px 0;
    }
    #main-content .posts-container .post{
        float: none;
        margin: 10px auto;
        width: 80%;
        text-align: center;
    }
    #featured-contnet .post-wrapper{
        float: none;
        width: 90%;
    }
    #featured-contnet .post-wrapper .post .title{
        bottom: -45px;
    }
    #team-wrapper #team-header .team-title{
        float: none;
        margin:0;
    }
    #team-wrapper #team-header .team-title h3{
        font-size: 20px;
    }
    #team-wrapper #team-members .team-member{
        width: 90%;
        float: none;
        margin-bottom: 20px;
    }
    #statistics{
        height: auto;
    }
    #statistics .stat{
        width: 90%;
        float: none;
        margin-bottom:10px;
    }
    #statistics .stat .stat-title{
        margin-top:20%;
    }
    #statistics .stat span{
        font-size:20px;
    }
    #footer .footer-details .newsletter{
        width: 90%;
        text-align: center;
        margin: 10px auto;
    }
    #footer .footer-details .newsletter input[type="text"]{
        width: 60%;
    }
    #footer .footer-details .social-share-links{
        width: 100%;
        text-align: center;
        margin: 10px auto;
        float: none;
    }
    #footer{
        height: auto;
    }
    #footer .footer-copyright .footer-menu ul li{
        display: inline-block;
        float: none;
    }
    #footer .footer-copyright .footer-menu{
        float: none;
    }
    #footer .footer-copyright .copyright{
        width: 100%;
        font-size:12px;
        text-align: center;
        margin-bottom:15px;
    }
}
